
.header-peru, .header-peru2{
  display: inline-block;
  position: relative;
}
.header-peru:after{

  background: url("http://peru.nu/images/topography.png");
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  //background: url(http://placehold.it/20x20/1) repeat;
  opacity: .4;
}
.header-peru2:after{
  background-color: rgba(108, 0, 121, 0.8);

  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  //background: url(http://placehold.it/20x20/1) repeat;
}
.bg-rgba-white {
  background: hsla(0,0%,100%,.8);
}
.bg-rgba-white-5{
  background: rgba(255,255,255,.5);
}
.bg-rgba-dark{
  background: rgba(0,0,0,.7);
}
.bg-rgba-dark-1{
  background: rgba(0,0,0,.1);
}
.bg-rgba-dark-3{
  background: rgba(0,0,0,.3);
}
.bg-rgba-dark-5{
  background: rgba(0,0,0,.5);
}
.bg-rgba-white{
  background: rgba(255,255,255,.8);
}
.nav-peru-top{
  z-index: 2;
}
//.nav-peru-m{
//  left: auto !important;
//}
.bottom-n-1{
  bottom: -1px;
}
.bottom-0{
  bottom: 0;
}
.top-0{
  top: 0;
}
.right-0{
  right: 0;
}
.left-0{
  left: 0;
}
.mt-10-p{
  margin-top: 10%;
}
.logo-goto{
  z-index: 2;
}
.alpha { background: $purple; }

.clickable {
  cursor: pointer;
}

.box-route-ininerary {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  padding: 15px 0 15px 60px;
}
.card-img-overlay-packages{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
//overlay
.card-img-overlay{
  bottom: auto !important;
}

.gradient-destinations{
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );
  bottom: -1px;
  height: 8em;
  position: absolute;
  width: 100%;
}
.b-routes{
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #f9a825;
}
.nav-link, .nav-link:hover{
  background: #6c757d;
  color: #ffffff;
}
/* Video Overlay */
.header-video{
  width: 100%;
  height: 100vh;
}
#overlay {
  background-color:rgba(0,0,0,.5);
  height:100vh;
  left:0;
  position:relative;
  top:0;
  transition:background-color 300ms ease;
  width:100%;
}
.overlay-img{
  background-color:rgba(0,0,0,.2) !important;
}
#hero-vid {
  backface-visibility:hidden;
  background:#fff;
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
}

#hero-pic {
  display:block;
  height:auto;
  width:100%;
}

#state {
  bottom:0;
  cursor:pointer;
  font-size:2.25rem;
  left:0;
  line-height:1;
  padding:2rem 2.5rem 1.65rem;
  position:absolute;
}
#title {
  backface-visibility:hidden;
  left:0;
  perspective:1000;
  position:fixed;
  width:100%;
  z-index: 1;
}
.header-menu-g{
  z-index: 1;
}

.content-header{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.content-header-row{
  width: 100%;
  height: 100vh;
}
.nav-itinerary .nav-link.active{
  opacity: 1;
  border-bottom: 3px solid #000000;
}

.banner-header{
  background: rgba(0,0,0,.5);
}

//.header-video-default, .header-video-default #overlay{
//  height: 100vh;
//}
.header-expedia {
  position: absolute;
  margin-bottom: 7.1vh;
  bottom: 0;
}
.nav-goto{
  position: sticky;
  margin-top: -7.1vh;
  font-size: 18px;
  background: rgba(255,255,255,.97) !important;
  z-index: 99;
  height: 7.1vh;
}
.nav-goto a{
  padding: 2vh 0;
  border-bottom: 1px solid #cccccc;
  border-radius: 0 !important;
}



//variables
$slider-height: 420px;
$text-block-width: 400px;

$dark-font-color: #212121;
$accent-font-color: #CA9CE1;
$light-font-color: #fff;
$text-overlay-color: #000;
$text-overlay-opacity: 0.6;
$slide-overlay-color: #fff;
$slide-overlay-opacity: 0.6;

//transitions and mixins

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/*common styles !!!YOU DON'T NEED THEM */


.slider-containers {
  width: 100%;
  //margin-top: 60px;
}

.slider-container {
  //margin-bottom: 60px;

  h2 {
    text-align: center;
  }
}

.flexbox-slider {
  //margin-top: 50px;
}

/*slide styles !!!YOU NEED THEM */
.flexbox-slider {
  display: flex;
  width: 100%;
  height: $slider-height;
  visibility: hidden;

  .flexbox-slide {
    @include transition-mix($duration: .3s);

    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;

    //overlay
    &:after {
      @include position-absolute($top: 0, $left: 0);
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba($slide-overlay-color, $slide-overlay-opacity);
      z-index: 2;

      opacity: 0;
    }

    img {
      @include position-absolute($top: 50%, $left: 50%);
      height: auto;
      width: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .text-block {
      @include position-absolute($bottom: 30px, $left: 30px);
      max-width: $text-block-width;
      padding: 20px;
      border-radius: 5px;
      background-color: rgba($text-overlay-color, $text-overlay-opacity);
      color: $light-font-color;

      z-index: 4;

      visibility: hidden;
      opacity: 0;

      h3 {
        font: {
          size: 20px;
          weight: 700;
        }
      }
    }
  }

  &:hover {

    .flexbox-slide:hover {
      flex-shrink: 0;
      width: 60%;
    }
  }
}

/* effect 1 styles */
.flexbox-slider.flexbox-slider-1 {

  .flexbox-slide {

    .text-block {
      bottom: 60px;
    }
  }

  &:hover {

    .flexbox-slide:hover {

      .text-block {
        @include transition-mix($delay: .5s);
        bottom: 30px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


.swiper-container {
  width: 100%;
  height: 578px;
}
.swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 5px;
}

//paralax
.jumbotron-slider{
  background: url("/images/slider/machupicchu-2.jpg");
  background-size: 100%;
}

.jumbotron-divider-1{
  background: url("/images/divider/slider-1.jpg");
  background-size: 100%;
}

.jumbotron-slider-1{
  background: url("/images/banners/slider-1.jpg");
  background-size: 100%;
}

.jumbotron {
  padding: 2rem 2rem !important;
}

.footer-logo{
  margin-top: -15%;
}
img.img-lazy {
  display: block;
  border: 0;
  opacity: 0;
}
img.img-lazy:not(.initial) {
  transition: opacity 1s;
}
img.img-lazy.initial,
img.img-lazy.loaded,
img.img-lazy.error {
  opacity: 1;
}

img.img-lazy:not([src]) {
  visibility: hidden;
}

.number-hover:hover, .number-hover.active{
  color: #ffffff !important;
  background-color: #f9a825 !important;
  border-color: #f9a825 !important;
}

.number-hover:hover i, .number-hover.active i{
  color: #000000 !important;
}

.number-hover.focus, .number-hover.active:focus{
  -webkit-box-shadow: 0 0 0 0.05rem rgba(249, 168, 37, 0.5) !important;
  box-shadow: 0 0 0 0.05rem rgba(249, 168, 37, 0.5) !important;
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
    margin-left:0%;
    width:100%;
  }
}
#redes{
    //margin: 0 auto;
    bottom: 0px;
    position: fixed;
    width: 100%;
    //padding: 30px 10px 30px 10px;
    //background: #00bdff;
    //color: white;
    //text-align: center;
    z-index: 1021;
}
#redes{
    bottom: 2% !important;
    right: -9px;
}
